.sitecard{
    width:300px;
    background:#FFF;
    border:1px solid #ddd;
    border-radius:5px;
    height: 100px;

    .header{
        display: flex;
        .logo{
            flex:0 0 auto;
            height:40px;

            img{
                margin:5px;
            }
        }
        
        .title{
            flex:1 0 auto;
            padding:8px 5px;
            text-align: right;
        }
    }
    .body{
        height:10px;
        padding:10px;

        b{
            float: right;
        }
    }
}